# Default compilation mode and compiler version
build --compilation_mode=opt

# Default CXX flags
build --cxxopt="-Werror"

# Link libstdc++ / libgcc statically
build --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-lm
build --action_env=BAZEL_LINKOPTS=-static-libgcc

# Enable local disk caching
build --disk_cache=~/.cache/bazel/disk-cache/ncore
build --remote_instance_name ncore

# Ensure that user's own PATH/LD_LIBRARY_PATH doesn't propagate into the build/test sandbox
build --incompatible_strict_action_env

# This is needed to have tags=["no-cache"] propagate to action execution requirements
build --incompatible_allow_tags_propagation

# Check the ctime of input files of an action before uploading it to a remote cache (there may be cases where the Linux kernel delays writing of files, which could cause false positives)
build --experimental_guard_against_concurrent_changes

#? --config=low_memory            Low-memory builds (e.g., for memory-constrained CI machines)
build:low_memory --@//bazel/flags:low_memory=True

# Show outputs of failing tests by default
test --test_output=errors

# # Mypy aspect registration
# build --aspects @mypy_integration//:mypy.bzl%mypy_aspect
# build --output_groups=+mypy
# build --@mypy_integration//:mypy_config=//bazel/typing:mypy.ini

# Require OAuth2 support in rules_oci for some docker image repositories
common --repo_env=OCI_ENABLE_OAUTH2_SUPPORT=1


# Silence warnings on unused repositories / dependencies we don't use
# (introduced in bazel 8 to transition to modular setups)
common --incompatible_autoload_externally=+@rules_python,+@rules_shell

# https://docs.bazel.build/versions/main/best-practices.html#using-the-bazelrc-file
try-import %workspace%/.bazelrc.user
