[submodule "dependencies/apex"]
	path = dependencies/apex
	url = https://github.com/NVIDIA/apex

[submodule "lib/external/numpyeigen"]
  path = lib/external/numpyeigen
  url = https://github.com/fwilliams/numpyeigen
